---
# style guide
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
---
